.header {
  height: rem(80px);
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
}

.header__left {
  width: 50%;
  float: left;
}

.user {
  margin-top: rem(10px);
}

.user_avatar {
  display: inline-block;
  vertical-align: middle;

  @include phone {
    vertical-align: inherit;
  }
}

.user_avatar-head {
  height: rem(60px);
  width: rem(60px);
  border-radius: 40px;
  padding: 0;
}

.user_name {
  display: inline-block;
  margin-left: rem(15px);
  font-size: rem(18px);
  font-weight: 400;
  line-height: 28px;

  @include phone {
    line-height: 24px;
    vertical-align: super;
  }
}

.user_name-text {
  @include phone {
    display: block;
  }
}

.user_name-text2 {
  @include phone {
    display: block;
  }
}

.header__right {
  width: 50%;
  float: right;
  text-align: right;
  position: relative;
}

.contacts__link {
  margin-top: rem(25px);
  display: block;
  text-decoration: none;
  border-bottom: 1px dashed #33BEE1;
  color: #33BEE1;
  font-size: rem(18px);
  font-weight: 700;
  line-height: 28px;
  
  @include phone {
    border: 0 none;
    font-size: 30px;
    margin-top: 1rem;
    font-size: 40px;
    .contacts__link_desc {
      display: none;
    }
  }
}

.contacts__link_phone {
  display: none;
  @include phone {
    display: block;
  }
}


.contacts__dropdown {
  position: absolute;
  top: 70%;
  left: -9999px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  text-align: left;
  background-color: #fff;
  margin-top: 10px;
  z-index: 1000;
}

.contacts__link_wrap {
  height: 80px;
  float: right;
}

.contacts__link_wrap:hover {
  .contacts__link {
    border-bottom: 1px dashed #E85F61;
    color: #E85F61;

    @include phone {
      border-bottom: 0 none;
    }
  }

  .contacts__dropdown {
    left: 61%;

    @include laptop {
      left: 42%;
    }

    @include phone {
      position: inherit;
    }
  }
}

.triangle {
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-top-color: #DEDEDE;
  border-bottom: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  transform: rotate(180deg);
}

.triangle:after {
  content: "";
  display: block;
  border: 25px solid transparent;
  border-top-color: #fff;
  border-bottom: 0;
  position: absolute;
  top: -26px;
  left: -25px;
}

.contacts__dropdown-item {
  font-size: rem(18px);
  font-weight: 300;
  line-height: 28px;
  margin: rem(15px) rem(20px) rem(15px) rem(20px);
  white-space: nowrap;
}

.contacts__dropdown-item-link {
  display: block;
  text-decoration: none;
  color: #414141;
  &:hover i {
    color: #33BEE1;
  }
}

.contacts__dropdown-item-desc {
  margin-left: 10px;
}